# Android/IntelliJ/IDEA files
*.iml
.idea/*
.gradle
/local.properties

# macOS
.DS_Store

# Build folders
/build/
/captures/
/.externalNativeBuild/
/cxx/

# Local properties (διπλής εγγραφής γιατί συχνά γράφονται και με και χωρίς /)
local.properties
